<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Modelrockets - Components</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/modelrockets.css">

  </head>
  <body>
    <!-- Navigationbar !-->
    <nav id="navbar" class="w3-bar w3-black w3-card-4">
      <div class="container">
        <a href=".." class="w3-bar-item w3-button w3-mobile w3-hover-yellow w3-text-yellow">Modelrockets</a>
        
        <a href="../virtual-rocket" class="w3-bar-item w3-button w3-mobile w3-hover-yellow w3-right">Build your Virtual-Rocket</a>
        <a href="../fuel" class="w3-bar-item w3-button w3-mobile w3-hover-yellow w3-right">Manual for Rocketfuel</a>
        <a href="#navbar" class="w3-bar-item w3-button w3-mobile w3-hover-yellow w3-right w3-yellow">Components of Modelrocket</a>
        <a href=".." class="w3-bar-item w3-button w3-mobile w3-hover-yellow w3-right">Introduction</a>

      </div>
    </nav>
    <!-- Navbar ende -->

    <div class="w3-yellow w3-card-4 heading">
      <h1 id="heading">Components of a modelrocket</h1>
    </div>

    <br>
    <br>

    <section class="w3-black">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <img class="imgRight" src="img/component1.jpg" width="400" height="400" alt="Bild von einem Raketenmotor">
          </div>

          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">The rocket engine</h2>
              <br>
              <p>The Rocket engine is one of the most important part of a rocket! It provides it with its upward thrust in a ratio of 1:5, that means 5 times the strength of the earth's gravitational acceleration.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="w3-black">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <img class="imgLeft" src="img/component2.png" alt="Gehäuse von Modellrakete" width="500" height="282">
          </div>
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <h2 class="display-4">Case</h2>
              <br>
              <p>Not only the case privides the rocket structual stability, it also makes things easier. For example yoou can organize the interior of the rocket. You can build for each part of the rocket it's own compartent for e.g. the boardcomputer and the payload section.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <img class="imgRight" src="img/component3.jpg" alt="Fins" width="500" height="282">
          </div>

          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Fins</h2>
              <br>
              <p>Fins provide extra stability in flight for the rocket.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <img class="imgLeft" src="img/component4.jpg" alt="Parachute" width="500" height="282">
          </div>

          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <h2 class="display-4">Parachute</h2>
              <br>
              <p>The parachute gives the rocket the ability to fall safely to earth. It's made out of a special fabric for parachutes.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <img class="imgRight" src="img/component5.jpg" alt="Rocket Boardcomputer" width="220" height="400">
          </div>

          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Boardcomputer</h2>
              <br>
              <p>The boardcomputer collects all the data and is responsible for starting and controlling the rocket inflight.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <img src="img/component6.png" alt="Payloadsection" width="350" height="450">
          </div>

          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <h2 class="display-4">Payload section</h2>
              <br>
              <p>In the payload section you can store different objects or experiments like a small chip collecting data or a camera making picrures.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>

<!--
  <footer style="background-color: #222222; padding-top:25px; padding-bottom: 18px; float: bottom;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 order-md-1 text-center">
          <p style="font-size: 22px; font-family: Times New Roman"><a style="color: #9d9d9d;" href="https://nydery.github.io/modelrockets">Home</a></p>
        </div>

        <div class="col-md-4 order-md-2 text-center">
          <p style="font-size: 22px; font-family: Times New Roman "><a style="color: #9d9d9d;" href="https://htl-leonding.at">Schoolwebsite</a></p>
        </div>

        <div class="col-md-4 order-md-3 text-center">
          <p style="font-size: 22px; font-family: Times New Roman "><a style="color: #9d9d9d;" href="https://www.instagram.com/htlleonding/">Instagram</a></p>
        </div>
      </div>
    </div>
  </footer>
-->
</html>
